.homepage {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.homepage .image {
  border-radius: 50%;
  padding: 20px;
  margin: 30px;
  height: 70vh;
  width: 30%;
  background-image: linear-gradient(
    rgba(28, 136, 213, 0.577),
    rgba(43, 7, 246, 0.607)
  );
  background-repeat: no-repeat;
  background-position: center;
}
.homepage .image img {
  border-radius: 50%;
}
.homepage .describe .name {
  font-size: 40px;
  font-weight: 600;
}
